.slider img {
    min-width: 100%;
}

.hero-slider {
    max-height: 100vh;
}

.hero-slider .slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    display: none;
}

.hero-slider .glide__slide--active .slide-content {
    display: block;
}

li.slide {
    list-style: none;
}

.glide__slides {
    transform: none !important;
    width: auto !important;
    display: block;
}
.glide__slide {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 1s;
}
.glide__slide:first-child {
    position: relative;
}
.glide__slide--active {
    z-index: 1;
    opacity: 1;
}
