@import "variables";

@import "admin/partials/sidebar";
@import "admin/partials/top-nav";
@import "admin/partials/modals";
@import "admin/partials/controls";
@import "admin/partials/widgets";
@import "admin/content";
@import "admin/mobile";

#admin-main {
    background-color: #eeeeee;
}

div#module {
    margin: 0 -4px;
}

#admin-page {
    background-color: #fafafa !important;
}

#main-container.container-fluid {
    padding: 0px;
}

.card {
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.075);

    &-title {
        color: $blue;
        margin-bottom: 0.75rem;

        .fa {
            font-size: 22px;
            margin-right: 16px;
            display: block;
            float: left;
        }
    }

    .btn {
        border-radius: 20px;
        padding: 10px 30px;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 1px;

        &.btn-action {
            padding: 0;
            min-width: 40px;
            height: 40px;
            align-items: center;
            justify-content: center;
            display: inline-flex;
        }
    }

    &-body {
        overflow: hidden;
    }
}

.flex-spread {
    display: flex;
    max-height: 100%;
}

.flex-spread div {
    width: 100%;
    flex-basis: 100%;
}

.scroll-overflow {
    overflow-y: auto;
    height: 100%;
}

.transparent {
    background: transparent;
    box-shadow: none;
}

/* ------------ ICONS ------------ */

i.fa.fas.fa-trash,
.fa-minus-circle {
    margin-left: 2px;
}

/* ---------- END ICONS ---------- */

.divider .card-body {
    padding: 1.25rem 1.8rem;
}

.page-item:first-child .page-link {
    border-radius: 20px 0 0 20px;
    padding-left: 1.2rem;
}

.page-item:last-child .page-link {
    border-radius: 0 20px 20px 0;
    padding-right: 1.2rem;
}

.page-item .page-link {
    padding: 0.75rem 1rem;
}

small.close {
    cursor: pointer;
    font-size: 14px;
}

span.tag {
    background: #eee;
    padding: 10px 15px;

    .close {
        float: unset;
        margin-left: 10px;
    }
}

.tox.tox-tinymce {
    z-index: 0;
}
