.header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    color: #222;
    height: 400px;
    background: #eeeeee;

    img {
        width: 100%;
    }

    &-container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 50%;
        text-align: center;
    }

    p {
        max-width: 560px;
        margin: 20px auto;
    }
}
