body {
    font-family: "Nunito Sans", sans-serif;
    color: #333333;
    font-weight: 200;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.block-row.row {
    max-width: 100%;
    margin: 0;
}

.block-row .block-col {
    padding: 0;
}

.btn {
    color: #fff;
    text-transform: uppercase;
    padding: 15px 40px;
    margin: 20px auto;
    font-size: 12px;
    font-family: Raleway;
    display: inline-block;

    &.cta {
        background: #fdaf0e;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway";
    font-size: 600;
}

h1 {
    font-size: 60px;
    text-transform: uppercase;
    margin-top: 20px auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .grid-item {
    }
}

// BLOCKS //
.hero {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    color: #222;
    height: 400px;
    background: #eeeeee;

    img {
        width: 100%;
    }

    &-container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 50%;
        text-align: center;
    }

    p {
        max-width: 560px;
        margin: 20px auto;
    }
}

.footer {
    width: 100%;
    background-color: #eeeeee;
    padding: 20px;

    p {
        margin-bottom: 0px;
    }
}

.vertical-menu {
    padding: 10px 20px;
    background: #fafafa;

    ul {
        padding: 0;

        .sub-menu {
            padding-left: 10px;
        }
    }

    &-title {
        font-weight: 500;
        text-transform: uppercase;
        font-size: 12px;
    }
}

//Modules

.module {
    h3 {
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
    }

    .btn {
        padding: 10px 25px 8px;
        font-size: 10px;
    }

    &-page {
        padding: 40px 10px;
    }
}

.post {
    padding: 40px 20px;
    border-top: 1px solid #dee2e6;

    &:first-child {
        border-top: 0px;
    }

    &__thumbnail {
        &-col {
            max-width: 240px;
        }
    }
}

.pagination {
    margin: 10px 20px;
}
