#layout {
  min-height: 800px;
  overflow: hidden;
  width: calc(100% + 20px);
  margin-left: -10px;
}

.grid-stack-item-content {
  border-radius: 10px;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.075);
}

.components-bar {
  width: 100%;
  transition: all 0.2s linear;
  padding: 10px 50px;
  margin-top: -30px;
  height: 0;
}

.components-bar.active {
  height: 200px;
}

.components-bar.active .slick-arrow {
  display: block;
}

.components-bar .slick-list,
.components-bar .slick-track,
.components-bar .slick-slide {
  height: 100%;
}

.components-bar .slick-arrow {
  display: none;
  background: #fff no-repeat center;
  background-size: 12px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transition: all 0.2s linear;
}

.components-bar .slick-arrow.slick-prev {
  left: 15px;
  background-image: url(https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-left-01-512.png);
}

.components-bar .slick-arrow.slick-prev::before {
  content: "";
}

.components-bar .slick-arrow.slick-next {
  right: 15px;
  background-image: url(https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-right-01-512.png);
}

.components-bar .slick-arrow.slick-next::before {
  content: "";
}

.components-bar .slick-arrow:hover {
  transform: scale(1.2) translateY(-43%);
}

.add-widget,
.existing-widget {
  width: 100%;
  border-radius: 8px;
  border: 0px;
  display: flex;
  cursor: pointer;
  padding: 20px;
  height: 100%;
}

.add-widget .card,
.existing-widget .card {
  height: 100%;
}

.add-widget .widget-title,
.existing-widget .widget-title {
  color: #3490dc;
}

.add-widget p,
.existing-widget p {
  margin-bottom: 0px;
}

.add-widget img,
.existing-widget img {
  margin: 40px auto;
  max-width: 100%;
  width: 60px;
  height: 60px;
}

button.toggle-components {
  position: fixed;
  bottom: 45px;
  right: 45px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #c2c7d4;
  border: 1px solid #9397a0;
  color: #fff;
  z-index: 90;
  transition: all 0.15s linear;
  transition-delay: 2s;
}

button#toggle-components:hover ~ #toggle-new-components,
.toggle-components:hover ~ #toggle-new-components {
  bottom: 100px;
  transition-delay: 0s;
}

button#toggle-components:hover ~ #toggle-existing-components,
.toggle-components:hover ~ #toggle-existing-components {
  right: 100px;
  transition-delay: 0s;
}

button.toggle-components.active,
button.toggle-components:hover {
  background: #3490dc;
  border: 1px solid #2871ad;
  color: #fff;
  transform: scale(1.2);
}

.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se {
  right: 20px;
  bottom: 12px;
}

.block-settings {
  width: 40%;
  max-width: 600px;
  min-width: 280px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ced4da;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

