.user {
    &__details {
        margin-top: 10px;
        text-align: center;
        font-size: 12px;
    }

    &__detail {
        display: inline-block;
        width: 100%;

        &--username {
            font-weight: 800;
        }
    }

    &--login {
        .user {
            &__login-control {
                max-width: 40%;
            }
        }
    }
}
