// Blue
$primary: #679bdb;
$style-blue-primary-lighter: #85b5e5;

$style-blue-bg: #dfe5ea;
$style-blue-bg-darker: #679bdb;
$style-blue-bg-lighter: #becad6;
$style-blue-border: #bdc9d6;
$style-blue-border-dark: #222427;
$style-blue-color: #000;
$style-blue-color-inverse: #fff;

$style-red-bg: #ff5b5b;
$style-red-bg-darker: #b9234d;
$style-red-bg-lighter: #c36161;
$style-red-border: #e25353;
$style-red-border-dark: #222427;
$style-red-color: #fff;
$style-red-color-inverse: #fff;
