.horizontal-menu {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__container {
        position: relative;
    }

    &__mobile-line {
        position: fixed;
        height: 3px;
        background: #3591dc;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9997;
        display: none;
    }

    &__toggle {
        position: fixed;
        top: 0;
        right: 20px;
        font-size: 30px;
        padding: 0px 15px;
        background: #3591dc;
        color: #fff;
        z-index: 9997;
        display: none;
        cursor: pointer;
    }

    &__close {
        display: none;
        position: fixed;
        top: 10px;
        right: 20px;
        font-size: 27px;
        padding: 0px 15px;
        transition: color 0.2s linear;
        cursor: pointer;

        &:hover {
            color: #3591dc;
        }
    }

    &__link {
        color: #242f51;
        font-size: 0.9em;
        transition: all 0.3s linear;
        font-weight: 500;
        padding: 10px 20px;

        &:hover {
            text-decoration: none;
            color: #3591dc;
        }
    }

    &__list {
        display: block;
        margin: 0;
        width: 100%;
        text-align: right;
        padding: 0;

        &-item {
            display: inline-block;
            padding: 10px 0px;

            &.cta .horizontal-menu__link {
                background: #3591dc;
                padding: 15px 55px;
                color: #fff;
                border-radius: 50px;
                font-weight: 600;
                margin-left: 20px;

                &:hover {
                    text-decoration: none;
                    background-color: #257cc3;
                }
            }

            ul {
                display: none;
            }
        }
    }
    &__underline {
        background: #3591dc;
        height: 2px;
        width: 100px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
}

@media (max-width: 980px) {
    .horizontal-menu {
        &__toggle,
        &__mobile-line {
            display: block;
        }

        &--main {
            position: fixed;
            top: 0;
            left: 0;
            background: #fdfdff;
            z-index: 9998;
            height: 100vh;
            width: 100vw;
            display: flex;
            padding: 60px 0;
            flex-wrap: wrap;
            align-content: center;
            display: none;

            .horizontal-menu__close {
                display: block;
            }

            .horizontal-menu__list {
                text-align: center;

                &-item {
                    display: block;
                    width: 100%;
                }
            }

            .horizontal-menu__container {
                flex-basis: 100%;
            }

            .horizontal-menu__logo {
                &-link {
                    text-align: center;
                    width: 100%;
                    display: block;
                    margin-bottom: 20px;
                }
            }

            .horizontal-menu__link {
                display: block;
                margin: 0px 30px;

                &:hover {
                    background-color: #f2f2f2;
                }

                &.cta {
                    margin-left: 30px;
                }
            }
        }

        &__underline {
            display: none;
        }
    }
}
