@media (max-width: 768px) {
    // Responsive padding & margin classes

    .mb-md-3 {
        margin-bottom: 1rem;
    }

    .my-md-4 {
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }

    // End of margin & padding classes

    // Other rules
    #admin-main .btn-action {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .responsive-center {
        margin: 0 auto;
        text-align: center;
    }

    .pagination {
        li.page-item {
            display: none;
        }

        .page-item:first-child,
        .page-item:nth-child(2),
        .page-item:nth-last-child(2),
        .page-item:last-child,
        .page-item.active,
        .page-item.disabled {
            display: block;
        }
    }
}
