#menu-items {
    padding: 20px 10px;

    ol {
        margin-bottom: 10px;
    }

    .list-group-item {
        cursor: grab;

        &:active {
            cursor: grabbing;
        }
    }

    button {
        width: 30px;
        height: 30px;
        padding: 0;
        background: #fafafa;
        border: 1px solid #dfdfdf;
        border-radius: 5px;
        float: left;
        margin-top: 6px;
        margin-right: 15px;
        margin-left: -8px;
        color: #999;

        &.remove {
            float: right;
            margin-right: 0px;
        }

        &.edit {
            &.active {
                background-color: #38c172;
                border-color: #38c172;
                color: #fff;
                border-color: inherit;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
        }
    }

    .dd-handle {
        padding: 10px 0;
    }

    ol:first-child {
        padding: 0;
    }

    .placeholder {
        background: #fafafa;
    }
}

#menu-items,
.menu-entry-list {
    .list-group-item {
        padding: 5px 20px;
        min-height: 55px;
    }

    button {
        width: 30px;
        height: 30px;
        padding: 0;
        background: #fafafa;
        border: 1px solid #dfdfdf;
        border-radius: 5px;
        float: left;
        margin-top: 6px;
        margin-right: 15px;
        margin-left: -8px;
        color: #999;
    }
}

.menu-entry-list {
    list-style: none;
    padding-left: 0;

    li {
    }
}

.search-entries {
    cursor: pointer;
}
