.slider {
    &__image {
        align-self: center;
        min-width: 100%;
    }

    &--hero {
        .slider__slide {
            list-style: none;

            &.glide__slide--active .slider__content {
                display: block;
            }
        }

        .slider__title {
            color: #242f51;
            margin-bottom: 30px;
            font-size: 3.4em;
            font-weight: 700;
            line-height: 1.2;
            margin-top: 0px;
        }

        .slider__slogan {
            margin-bottom: 30px;
            color: #616368;
            font-size: 1em;
        }

        .glide__slide--active .slide-content {
            display: block;
        }

        .slider__content {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            color: #000;
            text-align: left;
            width: 40%;
        }

        .slider__bullet {
            border: 1px solid #828181;

            &:hover {
                border: 2px solid #444;
            }

            &--active {
                background-color: #2500f9;
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                    border: 1px solid #828181;
                }
            }
        }

        .container {
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            padding: 0;
            margin: 0 60px;
        }
    }
    .glide {
        &__slides {
            transform: none !important;
            width: auto !important;
            display: block;
        }

        &__slide {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            transition: opacity 2s;
            display: flex;

            &--active {
                z-index: 1;
                opacity: 1;
            }

            &:first-child {
                position: relative;
            }
        }

        &__arrow {
            color: #000;
        }
    }
}

@media (max-width: 980px) {
    .slider {
        &--hero {
            .slider__title {
                font-size: 2.2em;
            }
        }
    }
}

@media (max-width: 768px) {
    .slider {
        &--hero {
            margin-left: -50px;
            margin-right: -50px;
            width: calc(100% + 100px);

            .slider__content {
                left: 50px;
            }

            .slider__slogan,
            .btn {
                display: none;
            }
        }
    }
}
