.login-block {
    margin: 20px 20px 40px 20px;

    &__title {
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 20px;
        display: inline-block;
    }

    &__link {
        font-size: 14px;
        margin-left: 10px;
    }

    &__btn {
        margin-top: 10px;
    }
}
