// Required
@import "node_modules/bootstrap/scss/bootstrap";
@import "variables.scss";

// Blocks
@import "../../blocks/horizontal_menu/style.scss";
@import "../../blocks/vertical_menu/style.scss";
@import "../../blocks/footer/style.scss";
@import "../../blocks/header/style.scss";
@import "../../blocks/slider/style.scss";
@import "../../blocks/carousel/style.scss";
@import "../../blocks/login/style.scss";

// Modules
@import "../../modules/users/style.scss";
@import "../../modules/posts/style.scss";

.container-xl,
.container-lg,
.container-md,
.container-sm,
.container {
    max-width: 1480px;
    padding: 0px 40px;
}

.inner-container {
    margin: 0 auto;
}

body {
    font-family: "Poppins", sans-serif;
    color: #333333;
    font-weight: 300;
    line-height: 1.7;
    padding: 0;
    margin: 0;
    background: #fdfdff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #414141;
}

img {
    max-width: 100%;
}

.block-row {
    &__-col {
        padding: 0;
    }
}

.btn {
    color: #fff;
    text-transform: uppercase;
    padding: 15px 40px;
    margin: 20px auto;
    font-size: 12px;
    display: inline-block;

    &.cta {
        background: #3591dc;
        padding: 15px 55px;
        color: #fff;
        border-radius: 50px;
        font-weight: 600;

        &:hover {
            background-color: #257cc3;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway";
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 10px;
}

h1,
h2 {
    margin-top: 0px;
}

h1 {
    font-size: 4em;
    margin-top: 20px auto;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.4em;
    border-bottom: 1px solid #000;
    padding-bottom: 15px;
}

h3 {
    font-size: 1.2em;
    color: #000;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.8em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.module {
    h3 {
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        color: #616368;
        line-height: 1.8;
    }
}

.pagination {
    margin: 10px 20px;
}

.btn.btn-primary {
    background-color: $primary;
    border-color: $primary;
}

// Utility classes
.img-left {
    margin-right: 20px;
    margin-left: 0px;
}

.img-right {
    margin-left: 20px;
    margin-right: 0px;
}

.btn {
    padding: 10px 25px 8px;
}

.block-row {
    margin-top: 50px;
}
